.profile {
  /* padding: 0 100px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  /* align-items: center; */
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
  align-content: center;
  object-fit: cover;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userDescription {
  margin-left: 50px;
}

.userDescrTitle {
  font-size: 16px;
  font-weight: 600;
}

.userDescriptionItem {
  margin-bottom: 10px;
}

.myPosts {
  align-self: start;
  margin: 40px 0;
  min-width: 30%;
  max-width: 500px;
}

.createPost {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  max-width: 500px;
}

.textArea {
  padding: 30px;
  box-sizing: border-box;
  margin: 20px 0;
  width: 100%;
  border-radius: 15px;
  border: none;
}

.textArea:active {
  border: none;
}

.addPostButton {
  width: 30%;
  border-radius: 15px;
  height: 50px;
  background-color: rgb(95, 91, 91);
  color: #fff;
  border: none;
}

.addPostButton_active {
  cursor: pointer;
  background-color: #000;
  transition: scale 0.5s ease-out;
  scale: 1;
}

.addPostButton_active:hover {
  scale: 1.05;
}
