.profile {
  /* padding: 0 100px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  /* align-items: center; */
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  align-content: center;
  object-fit: cover;
  position: relative;
}

.avatar:hover::after {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: url(../../pictures/pensil-icon.svg);
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.userInfo {
  display: flex;
  align-items: center;
}

.userDescription {
  margin-left: 50px;
}

.userStatus {
  font-size: 1.5rem;
  font-style: italic;
  color: rgb(109, 13, 105);
  margin-bottom: 15px;
}

.userDescrTitle {
  font-size: 16px;
  font-weight: 600;
}

.userDescriptionItem {
  margin-bottom: 10px;
}

.myPosts {
  align-self: start;
  margin: 40px 0;
  min-width: 30%;
  max-width: 500px;
}

.createPost {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  max-width: 500px;
}

.textArea {
  padding: 30px;
  box-sizing: border-box;
  margin: 20px 0;
  width: 100%;
  border-radius: 15px;
  border: none;
}

.textArea:active {
  border: none;
}

.addPostButton {
  width: 30%;
  border-radius: 15px;
  height: 50px;
  background-color: rgb(95, 91, 91);
  color: #fff;
  border: none;
}

.addPostButton_active {
  cursor: pointer;
  background-color: #000;
  transition: scale 0.5s ease-out;
  scale: 1;
}

.addPostButton_active:hover {
  scale: 1.05;
}

.editProfileButton {
  border: none;
  background-color: rgb(74, 138, 189);
  width: 150px;
  height: 45px;
  color: rgb(10, 5, 62);
  font-size: 16px;
  font-style: italic;
  border-radius: 6px;
}

.editProfileButton:hover {
  cursor: pointer;
  scale: 1.03;
}

.editProfileInput {
  margin: 0;
  padding: 4px;
  border-radius: 4px;
  font-size: 18px;
  color: rgb(29, 97, 164);
}

.editProfileInput:focus {
  border-color: aqua;
}
