.myPost {
  display: flex;
  min-height: 30px;
  width: 100%;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  margin: 20px 0;
  box-sizing: border-box;
  position: relative;
}

.myPostAva {
  width: 25px;
  border-radius: 50%;
  height: 25px;
  object-fit: cover;
  align-content: center;
  margin-right: 10px;
}

.myPostText {
  font-size: 16px;
  max-width: 75%;
}

.likesBlock {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
}

.likesIcon {
  cursor: pointer;
  width: 20px;
  margin-right: 5px;
  transition: opacity 0.5s ease;
  opacity: 100%;
}

.likesIcon:hover {
  opacity: 60%;
}

.likesText {
  font-size: 15px;
}
