.userLink {
  text-decoration: none;
}

.user {
  margin-bottom: 20px;
  display: grid;
  border: lime 2px solid;
  border-radius: 20px;
  margin: 20px 0;
  color: black;
  padding: 10px;
  max-width: 100%;
  grid-template-columns: 100px 1fr;
  cursor: pointer;
}

.avatar {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.avatar:hover {
  transform: scale(1.05);
}

.userInfo {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.userName {
  max-width: 100%;
}

.userLocation {
  max-width: 100%;
}

.userStatus {
  max-width: 400px;
  overflow: hidden;
}

.button {
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 10px;
  max-width: 200px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.6;
}

.follow {
  background-color: greenyellow;
}

.unFollow {
  background-color: red;
}

.disabled {
  background-color: rgb(193, 184, 184);
}

.disabled:hover {
  opacity: 1;
}
