.header {
  padding-left: 30px;
  background-color: #ececec;
  color: #6c757d;
  display: flex;
  align-items: center;
  grid-area: h;
}

.logo {
  height: 50px;
  width: 50px;
}

.logoReversed {
  margin-left: 30px;
  transform: scale(-1, 1);
}
