* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.active {
  color: gold;
  scale: 1.05;
}

.navbarItem.active {
  background-color: #fff;
  color: #000;
}

.navbarItem.active:hover {
  opacity: 100%;
}

.page {
  min-height: 100vh;
  margin: auto;
  padding: 0 50px 50px 50px;
  background-color: #ececec;
  display: grid;
  grid-gap: 15px;
  grid-template-areas:
    'h h'
    'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  box-sizing: border-box;
}

.content {
  grid-area: c;
  padding: 0 40px;
  /* background-color: #fff;
  border-radius: 15px; */
}

@import url(./vendor/fonts.css);
